@page "/slack"
@inject HttpClient Http
<h1 class="text-center text-primary">Slack</h1>
<hr>

<div class="d-flex flex-column align-items-center justify-content-center">
    <div>
        <button class="btn btn-primary btn-lg" @onclick="ForcePost">Force post to slack!</button>
    </div>
    <hr>
    <div>
        <button class="btn btn-primary btn-lg" @onclick="PostSetting">Post Setting!</button>
    </div>
</div>


<Modal @ref="Modal"/>
<SlackSettingModal @ref="SlackModal" MessageBox="MessageBox"/>
<MessageBox @ref="MessageBox"/>


@code {
    Modal Modal;
    SlackSettingModal SlackModal;
    MessageBox MessageBox;

    string BotToken;
    string ChannelName;
    string BotId;
    string Id;

    private async Task ForcePost(){
        await Modal.Prompt("Are you sure you want to post to slack?");
        if(Modal.Value)
        {
            await Http.PostJsonAsync("https://lunchagent.azurewebsites.net/api/slack/forcepost", "");
            MessageBox.ShowMessage("Posted successfully");
        }
    }

    private async Task PostSetting(){
        await SlackModal.Prompt(new Models.SlackSetting());
    }
}