@if(Show){
    <div class="modal fade show d-block">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Confirm Action</h4>
                    <button type="button" class="close" @onclick="() => Confirm(false)">&times;</button>
                </div>
                <div class="modal-body">
                    @Text
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn" @onclick="() => Confirm(false)">Cancel</button>
                    <button type="button" class="btn btn-primary" @onclick="() => Confirm(true)">Confirm</button>
                </div>
    
            </div>
        </div>
    </div>
}

@code {
    private string Text;
    public bool Show;
    public bool Value;

    public void Prompt(string text){
        Text = text;
        Show = true;
        StateHasChanged();
    }

    public void Confirm(bool value){
        Value = value;
        Show = false;
    }

}