@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="content px-4 d-flex flex-column justify-content-between align-items-stretch">
        @Body
        <hr>
        <div class="d-flex align-items-center justify-content-center">
            <p>
            Powered by <a href="https://dotnet.microsoft.com/apps/aspnet/web-apps/blazor"> Blazor</a>. 
            Made By <a href="https://github.com/ArtzTJU"> ArtzTJU</a>
        </p>
    </div>
    </div>
</div>

