@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="content px-4">
        @Body
    </div>
</div>

<footer>
    <div class="d-flex align-items-center justify-content-center">
        Powered by <a href="https://dotnet.microsoft.com/apps/aspnet/web-apps/blazor">Blazor</a>. Made By <a href="https://github.com/ArtzTJU>ArtzTJU</a>
    </div>
</footer>