<div></div>

@code {
    
    public class Restaurant {
        public string Name { get; set; }
        public string Url { get; set; }
        public string Emoji { get; set; }
        public string Id { get; set; }
    }

    public class SlackSetting {
        public string BotToken { get; set; }
        public string ChannelName { get; set; }
        public string BotId { get; set; }
        public string Id { get; set; }
    }
}